extends layout

block content
  h1 #{title}: #{candle.name}
    hr
    p Do you really want to delete this Candle: #{candle.name}?

    form(method='POST' action='')
      div.form-group
        input#candleid.form-control(type='hidden',name='candleid', required='true', value=candle._id )

      button.btn.btn-primary(type='button' data-toggle="modal" data-target="#pwModal" ) Delete
      //- button.btn.btn-primary(type='submit') Delete
      div#pwModal(class='modal fade')
        div.modal-dialog(role="document")
          div.modal-content
            div.modal-body
              div.form-group
                label(for='password') Password for Delete
                input.form-control(type='password' id='password' placeholder='password' name='password')
              button.btn.btn-secondary(type='close') Close 
              button.btn.btn-primary(type='submit') Confirm 
    if error
      ul
        li Could not delete. #{error}!
    